input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.css-10596f4 {
  background-color: unset !important;
  box-shadow: unset !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthMd.MuiDialog-paperFullWidth.css-12fqudz-MuiPaper-root-MuiDialog-paper{
  background-color: white !important;
}
.css-jeov62-MuiPaper-root-MuiDialog-paper{
  background-color: white !important;
}
.css-wk0l96-MuiPaper-root-MuiDialog-paper{
  background-color: white !important;
}
.css-16ljh5v-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  line-height: 20px !important;
  width:100% !important;
}
.css-rdf0wi-MuiContainer-root{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.css-gi3u9r-MuiTypography-root-MuiLink-root-MuiButtonBase-root-MuiListItemButton-root.Mui-selected{
  color:#000 !important;
}

.css-gi3u9r-MuiTypography-root-MuiLink-root-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-gi3u9r-MuiTypography-root-MuiLink-root-MuiButtonBase-root-MuiListItemButton-root:focus{
  color:#000 !important;
  background-color: #F5EFE7 !important;
}
.css-v6lcno-MuiPaper-root-MuiDrawer-paper{
  overflow-y: hidden !important;
}
.css-16b2pl9.Mui-selected{
  color:#000 !important;
}
.css-16b2pl9:hover,
.css-16b2pl9:focus{
  color:#000 !important;
  background-color: #F5EFE7 !important;
}

.css-1gm7tco{
  background-color: #fff !important;
}
.css-14dota1{
  background-color: #fff !important;
}
.css-cdy87u{
  background-color: #fff !important;
}
.css-1ezk3qy.MuiSelect-select{
  height: 0px !important;
}

.css-1ko4ikc{
  overflow-y: hidden !important;
}
.active-route{
    color: #000 !important;
    background-color: #F5EFE7 !important;
}